/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nextflow.config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    samplesheet    = null
    idat_root      = null
    bpm            = null
    egt            = null
    fasta          = null
    mind           = 0.05
    snp_missing    = 0.05          // SNP missingness cutoff (--geno)
    hwe            = 0.00001       // HWE p-value threshold (--hwe)
    het_sd         = 3
    maf            = 0.01
    ibd_pi_hat     = 0.1875
    pca_components = 10
    outdir         = "${projectDir}/results"
    tracedir       = "${params.outdir}/pipeline_info"
}

// ── Base process settings ─────────────────────────────────────────────────────
process {
    cpus   = 12
    memory = '32 GB'
    time   = '48h'

    withName: 'PREP_INPUTS'  { cpus = 1;  memory = '8 GB';   time = '1h'  }
    withName: 'LINK_IDATS'   { cpus = 2;  memory = '4 GB';   time = '2h'  }
    withName: 'IDAT_TO_GTC'  { cpus = 12;  memory = '8 GB';   time = '4h'  }
    withName: 'GTC_TO_VCF'   { cpus = 12;  memory = '16 GB';  time = '8h'  }
    withName: 'MERGE_PLINK'  { cpus = 12;  memory = '32 GB';  time = '12h' }
    withName: 'IBD'          { cpus = 12;  memory = '32 GB';  time = '12h' }
    withName: 'PCA'          { cpus = 12;  memory = '32 GB';  time = '6h'  }
    withName: 'REPORT'       { cpus = 4;  memory = '8 GB';   time = '2h'  }
}

// ── Profiles ──────────────────────────────────────────────────────────────────
profiles {

    // ── Local execution ───────────────────────────────────────────────────────
    local {
        process.executor = 'local'

        env.BCFTOOLS_PLUGINS = "/home/eiko/Desktop/idat2vcf-pipeline2/idat2vcf-pipeline/bin/plugins/gtc2vcf"

        params {
            idat_root = "/home/eiko/Desktop/idat2vcf-pipeline2/idat2vcf-pipeline/prof_segun/data/ready"
            bpm       = "/home/eiko/Desktop/idat2vcf-pipeline2/idat2vcf-pipeline/bin/bpm_and_cluster/H3Africa_2019_20037295_A1.bpm"
            egt       = "/home/eiko/Desktop/idat2vcf-pipeline2/idat2vcf-pipeline/bin/bpm_and_cluster/H3Africa_2019_Gentrain_A1_ClusterFile_Final.egt"
            fasta     = "/home/eiko/Desktop/idat2vcf-pipeline2/idat2vcf-pipeline/GRCh37/human_g1k_v37.fasta"
            outdir    = "/home/eiko/Desktop/idat2vcf-pipeline2/idat2vcf-pipeline/results"
            tracedir  = "/home/eiko/Desktop/idat2vcf-pipeline2/idat2vcf-pipeline/results/pipeline_info"
        }
    }

    // ── CHPC Lengau ───────────────────────────────────────────────────────────
    chpc {
        process.executor       = 'pbs'
        process.queue          = 'seriallong'
        process.clusterOptions = '-P CBBI1369'
        executor.queueSize     =10 //max 10 jobs in queue at once
        executor.submitRateLimit = '5/1min'  //max 5 submissions per minutes

        process.beforeScript = """
            module purge
            module load chpc/BIOMODULES
            module load plink/1.90
            module load bcftools/1.17
            module load libdeflate
            module load python/3.9.6
        """

        env.BCFTOOLS_PLUGINS = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/bin/plugins/gtc2vcf"

        params {
            idat_root = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/prof_segun/data/ready"
            bpm       = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/bin/bpm_and_cluster/H3Africa_2019_20037295_A1.bpm"
            egt       = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/bin/bpm_and_cluster/H3Africa_2019_Gentrain_A1_ClusterFile_Final.egt"
            fasta     = "/home/gbimoko/GRCh37/human_g1k_v37.fasta"
            outdir    = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/results"
            tracedir  = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/results/pipeline_info"
        }

        process {
            cpus   = 12
            memory = '32 GB'

            withName: 'PREP_INPUTS' {executor = 'local'; cpus = 1; memory = '4 GB' }
            withName: 'LINK_IDATS'  {executor = 'local'; cpus = 1; memory = '2 GB' }
            withName: 'GENERATE_PHENOFILE' { executor = 'local'; cpus = 1;  memory = '2 GB'  }
            withName: 'FILTER_SAMPLES'     { executor = 'local'; cpus = 1;  memory = '8 GB'  }
           
            // Heavy stages submitted as individual PBS jobs
            withName: 'IDAT_TO_GTC'  { cpus = 12;  memory = '32 GB';  time = '4h'  }
            withName: 'GTC_TO_VCF'   { cpus = 12;  memory = '32 GB'; time = '8h'  }
            withName: 'VCF_TO_PLINK' { cpus = 12;  memory = '32 GB';  time = '4h'  }
            withName: 'MERGE_PLINK'  { cpus = 12; memory = '32 GB'; time = '12h' }
            withName: 'SAMPLE_QC'    { cpus = 12;  memory = '32 GB'; time = '4h'  }
            withName: 'SNP_QC'       { cpus = 12;  memory = '32 GB'; time = '4h'  }
            withName: 'SPLIT_CHROM'  { cpus = 12;  memory = '32 GB';  time = '2h'  }
            withName: 'CHECK_SEX'    { cpus = 12;  memory = '16 GB';  time = '2h'  }
            withName: 'XY_INTENSITY' { cpus = 12;  memory = '16 GB';  time = '2h'  }
            withName: 'IBD'          { cpus = 12; memory = '32 GB'; time = '12h' }
            withName: 'PCA'          { cpus = 12; memory = '32 GB'; time = '6h'  }
            withName: 'REPORT'       { cpus = 4;  memory = '8 GB';  time = '2h'  }
        }
    }

    // ── PBS (for the purpose of  submiting to a different queue) ────────────────────────────────────────────────
    pbs {
        process.executor       = 'pbs'
        process.queue          = 'gpu_1'
        process.clusterOptions = '-P CBBI1369'
        executor.queueSize     =10 //max 10 jobs in queue at once
        executor.submitRateLimit = '5/1min'  //max 5 submissions per minutes


        process.beforeScript = """
            module purge
            module load libdeflate
            module load plink/1.90
            module load chpc/nextflow/25.04.4
            module load python/3.9.6
            module load chpc/BIOMODULES
            module load bcftools/1.17
        """

        env.BCFTOOLS_PLUGINS = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/bin/plugins/gtc2vcf"

        params {
            idat_root = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/prof_segun/data/ready"
            bpm       = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/bin/bpm_and_cluster/H3Africa_2019_20037295_A1.bpm"
            egt       = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/bin/bpm_and_cluster/H3Africa_2019_Gentrain_A1_ClusterFile_Final.egt"
            fasta     = "/home/gbimoko/GRCh37/human_g1k_v37.fasta"
            outdir    = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/results"
            tracedir  = "/mnt/lustre/users/gbimoko/idat2vcf-pipeline/idat2vcf-pipeline/results/pipeline_info"
        }

        process {
            cpus   = 12
            memory = '32 GB'

            withName: 'PREP_INPUTS' {executor = 'local'; cpus = 1; memory = '4 GB' }
            withName: 'LINK_IDATS'  {executor = 'local'; cpus = 1; memory = '2 GB' }
            withName: 'GENERATE_PHENOFILE' { executor = 'local'; cpus = 1;  memory = '2 GB'  }
            withName: 'FILTER_SAMPLES'     { executor = 'local'; cpus = 1;  memory = '8 GB'  }
           
            // Heavy stages submitted as individual PBS jobs
            withName: 'IDAT_TO_GTC'  { cpus = 12;  memory = '32 GB';  time = '4h'  }
            withName: 'GTC_TO_VCF'   { cpus = 12;  memory = '32 GB'; time = '8h'  }
            withName: 'VCF_TO_PLINK' { cpus = 12;  memory = '32 GB';  time = '4h'  }
            withName: 'MERGE_PLINK'  { cpus = 12; memory = '32 GB'; time = '12h' }
            withName: 'SAMPLE_QC'    { cpus = 12;  memory = '32 GB'; time = '4h'  }
            withName: 'SNP_QC'       { cpus = 12;  memory = '32 GB'; time = '4h'  }
            withName: 'SPLIT_CHROM'  { cpus = 12;  memory = '32 GB';  time = '2h'  }
            withName: 'CHECK_SEX'    { cpus = 12;  memory = '16 GB';  time = '2h'  }
            withName: 'XY_INTENSITY' { cpus = 12;  memory = '32 GB';  time = '2h'  }
            withName: 'IBD'          { cpus = 12; memory = '32 GB'; time = '12h' }
            withName: 'PCA'          { cpus = 12; memory = '32 GB'; time = '6h'  }
            withName: 'REPORT'       { cpus = 2;  memory = '8 GB';  time = '2h'  }
        }
    }
}  // ← properly closes profiles


// ── Reporting ────────────────────────────────────────────────────────────────
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline.html"
}

report {
    enabled = true
    file    = "${params.tracedir}/execution_report.html"
}

trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace.txt"
}

dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag.svg"
}
